<!-- call user -->
<div class="container mt-5" *ngIf="loggedUser!=='Raju';else admin">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-4">
        <div class="col" *ngFor="let movie of movieList">
            <div class="card h-100 shadow">
                <img [src]="movie.img" *ngIf="movie.hasOwnProperty('img')" (click)="goToMovieDetails(movie.movieName)" alt="">
                <img src="https://images.pexels.com/photos/534590/pexels-photo-534590.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" (click)="goToMovieDetails(movie.movieName)" *ngIf="!movie.hasOwnProperty('img')"
                 alt="">
                <div class="card-body text-center text-white">
                    <button class="btn" (click)="goToMovieDetails(movie.movieName)"><h6>{{movie.movieName}}</h6></button>
                    <h6>{{movie.movieGenre}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- call admin -->
<ng-template #admin>
    <div class="container mt-5">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-4">
            <div class="col" *ngFor="let movie of movieList">
                <div class="card h-100 shadow">
                    <img [src]="movie.img" *ngIf="movie.hasOwnProperty('img')" alt="">
                    <img src="https://images.pexels.com/photos/534590/pexels-photo-534590.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" *ngIf="!movie.hasOwnProperty('img')"
                     alt="">
                    <div class="card-body">
                        <h6>Movie Name : {{movie.movieName}}</h6>
                        <h6>Genre : {{movie.movieGenre}}</h6>
                        <h6>Rating : {{movie.movieRating}}</h6>
                        <h6>Duration : {{movie.movieDuration}}</h6>
                        <h6>Year : {{movie.movieYear}}</h6>
                        <button class="btn btn-danger d-block mx-auto mt-3" (click)="goToDeletePage(movie.movieName)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>