<h6 class="text-end me-5 mt-3">Welcome {{adminData.username}}</h6>
<div class="container mt-5">
    <ul class="nav nav-pills d-flex justify-content-around">
        <li class="nav-item"><a href="" class="nav-link" routerLink="viewmovie" routerLinkActive="active">View Movie</a></li>
        <li class="nav-item"><a href="" class="nav-link" routerLink="addmovie" routerLinkActive="active">Add Movie</a></li>
        <li class="nav-item"><a href="" class="nav-link" routerLink="deletemovie" routerLinkActive="active">Delete Movie</a></li>
        <li class="nav-item"><a href="" class="nav-link" routerLink="addseat" routerLinkActive="active">Add Seat</a></li>
    </ul>
</div>

<!-- placeholder for children -->
<router-outlet></router-outlet>