<div class="container mt-5">
    <div class="row">
        <div class="col">
            <img src="../../assets/contact us.svg" class="img-fluid" width="500" alt="">
        </div>
        <div class="col-12 col-sm-8 col-md-6 mx-auto">
            <form>
                <!-- name -->
                <div class="form-group mt-3">
                    <label for="" class="form-label">Name</label>
                    <input type="text" name="" id="" class="form-control">
                </div>
                <!-- email -->
                <div class="form-group mt-3">
                    <label for="" class="form-label">Email</label>
                    <input type="email" name="" id="" class="form-control">
                </div>
                <!-- button -->
                <button class="btn btn-info d-block mx-auto mt-3">Send us</button>
            </form>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-4 mt-5">
        <!-- mail -->
        <div class="col mb-2">
            <div class="card box shadow">
                <div class="card-body">
                    <i class="fa-solid fa-envelope mt-2"></i>
                    <div class="content text-center mt-2 mb-2">
                        <p>Kindly mail us at help@cinemas.in for any queries</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- whatsapp -->
        <div class="col mb-2">
            <div class="card box shadow">
                <div class="card-body">
                    <i class="fa-brands fa-whatsapp mt-2"></i>
                    <div class="content text-center mt-2 mb-2">
                        <p>Kindly contact us at whatsapp for any queries</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- facebook -->
        <div class="col mb-2">
            <div class="card box shadow">
                <div class="card-body">
                    <i class="fa-brands fa-facebook mt-2"></i>      
                    <div class="content text-center mt-2 mb-2">
                        <p>Kindly support us at facebook for notification</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- twitter -->
        <div class="col mb-2">
            <div class="card box shadow">
                <div class="card-body">
                    <i class="fa-brands fa-twitter mt-2"></i>
                    <div class="content text-center mt-2 mb-2">
                        <p>Kindly tweet us at @cinemas_in for any queries</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <h4>Infrastructure</h4>
        <carousel class="mt-5" [noPause]="false">
            <!-- item - 1 -->
            <slide>
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-4">
                    <div class="col mb-3">
                        <div class="card shadow h-100">
                            <img src="https://www.thenewsminute.com/sites/default/files/styles/news_detail/public/HiQ%20%2819%29.JPG?itok=xZCpsuQ9" alt="">
                            <div class="card-body">
                                <h6 class="text-center">Screen 1</h6>
                            </div>
                        </div>
                       
                    </div>
                    <div class="col mb-3">
                        <div class="card shadow h-100">
                            <img src="https://images.unsplash.com/photo-1595769816263-9b910be24d5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bW92aWUlMjBzY3JlZW58ZW58MHx8MHx8&w=1000&q=80" alt="">
                            <div class="card-body">
                                <h6 class="text-center">Screen 2</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="card shadow h-100">
                            <img src="https://bizimages.withfloats.com/actual/5a32180f71271501fcc81e0c.jpg" alt="">
                            <div class="card-body">
                                <h6 class="text-center">Screen 3</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="card shadow h-100">
                            <img src="http://severtsonscreens.com/wp-content/uploads/2016/07/CPMSINTERIOR39.jpg" alt="">
                            <div class="card-body">
                                <h6 class="text-center">Screen 4</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </slide>
            <!-- item - 2 -->
            <slide>
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-4">
                    <div class="col mb-3">
                        <div class="card shadow h-100">
                            <img src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/e/s/p89629-161528935960475c0f3602b.jpg?tr=tr:n-xlarge" alt="">
                            <div class="card-body">
                                <h6 class="text-center">Hype Foods</h6>
                            </div>
                        </div>   
                    </div>
                    <div class="col mb-3">
                        <div class="card shadow  h-100">
                            <img src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/f/c/p46622-164158031361d887190a07d.jpg?tr=tr:n-xlarge" alt="">
                            <div class="card-body">
                                <h6 class="text-center">Around the Counter</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="card shadow h-100">
                            <img src="https://b.zmtcdn.com/data/pictures/7/18415387/cf0d2ecb8cd434222b403375831fd1c8.jpg?fit=around|750:500&crop=750:500;*,*" alt="">
                            <div class="card-body">
                                <h6 class="text-center">Snap Cafeteria</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="card shadow h-100">
                            <img src="https://static.toiimg.com/photo/48004575.cms" alt="">
                            <div class="card-body">
                                <h6 class="text-center">Food Colony</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </slide>
        </carousel>
    </div>
</div>