.card{
    border: none;
    background-color: #2c2c6c;
}

.fa-envelope,.fa-whatsapp,
.fa-facebook,.fa-twitter{
    font-size: 30px;
    text-align: center;
    display: block;
    margin: auto;
}

.fa-envelope{
    color:white;   
}

.fa-whatsapp{
    color:#25D366;
}

.fa-facebook{
    color:#4267B2;
}

.fa-twitter{
    color:#1DA1F2;
}

.box:hover{
    cursor: pointer;
    transform: scale(1.05);
    border:1px solid rgba(255,255,255,0.5);
}