/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html{
    position: relative;
    min-height: 100%;
}

*{
    font-family: 'Aldrich', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Serif', sans-serif;
    font-family: 'Roboto Slab', serif;
}